.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 70px;
  border-bottom: 2px solid;
  width: 100%;
}

.information input {
  width: 30%;
  margin-bottom: 15px;
}

button {
margin-top: 15px;
height: 50px;
width: 150px;
}

button:hover{
  cursor: pointer;
}